body {
  padding-top: 5rem;
}

h2.title {
  font-size: 2rem;
  margin: 2rem 0 0.5rem;
  opacity: 0.9;
  padding: 0.2rem 0.5rem;
}

h3.title {
  font-size: 1.5rem;
  margin: 2rem 0 0.5rem;
  opacity: 0.9;
  padding: 0.2rem 0.5rem;
}

h4.title {
  font-size: 1.2rem;
  margin: 2rem 0 0.5rem;
  opacity: 0.9;
  padding: 0.2rem 0.5rem;
}

a:link, a:visited {
  outline: none;
  text-decoration: none;
}

a:hover {
  color: #000000;
  outline: none;
  text-decoration: none;
}

p, ul, ol, li {
  margin: 0;
  padding: 0;
}

ul, ol {
  padding-left: 2rem;
}

pre.block {
  margin: 0.2rem 0 1rem 1rem;
  padding: 0.2rem 0.5rem;
}

pre.inline {
  margin: 0;
  padding: 0.2rem 0.5rem;
}

code {
  font-family: Monaco, Menlo, Consolas, 'Courier New', Courier, monospace, sans-serif;
}

div.box {
  border: solid 3px #95ccff;
  border-radius: 8px;
  margin: 2rem 0 1rem 1rem;
  padding: 0.5rem 1rem;
  position: relative;
}

div.box .box-title {
  background: #fff;
  color: #95ccff;
  display: inline-block;
  font-size: 19px;
  font-weight: bold;
  left: 10px;
  line-height: 1;
  padding: 0 9px;
  position: absolute;
  top: -13px;
}
